
<div id="wrapper">
	<div class="container">
		<div class="row karl-new-arrivals">
				<div
					class="col-12 col-sm-6 col-md-4 single_gallery_item women wow fadeInUpBig"
					data-wow-delay="0.2s">
					<!-- Product Image -->
					<div class="product-img">


						<img src=""alt=""
							class="pro-image-front" width="181" height="360"> <img
							src="" alt="" class="pro-image-back"
							width="181" height="300">

						<div class="product-quicview imgpopup">
							<input type="hidden" class="hidproducto"> <a href="#"
								data-toggle="modal" data-target="#exampleModal"
								class="modalpopup"> <i
								class="ace-icon glyphicon glyphicon-plus"></i>
							</a>
							<!-- Button trigger modal -->
						</div>
					</div>
					<!-- Product Description -->
					<div class="product-description">
						<small> <s class="red">
								 </s>
						</small> <b class="green"> </b> .
						<p></p>

						<!-- Add to Cart -->
						<a href="#" class="add-to-cart-btn">AGREGAR A LA BOLSA</a>
					</div>
				</div>
	
		</div>
	</div>

</div>












<input type="text" #txtUser>
<input type="text" #txtpassword>
<input type="hidden" #idProduct >
<button type="button" class="btn primary" >Actualizar</button>
<h1></h1>
<ul><li></li></ul>
<select>
    <option ></option>
</select>
  <select>
    <option value="0">--All--</option>
    <option *ngFor="let producto of lstproduct.listProduct" value={{producto.idProduct}}>
      {{producto.name}}
    </option>
  </select>


<h3>Token</h3>
https://jasonwatmore.com/post/2019/11/21/angular-http-post-request-examples